@import url("/common/typography/Termina/font-termina.css");

* {
    box-sizing: border-box;
    background-color: transparent;
    padding: 0;
    margin: 0;
    color: var(--white);
    font-family: Termina, 'Source Sans Pro', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
}

main{
    background: radial-gradient(circle, var(--blue) 0%, var(--black) 100%);
}

.communities{
    /*padding-inline: 64px;*/
}

.container{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    border-radius: var(--corner-radius);
    padding-bottom: 128px;
    font-size: 14px;
}

@media only screen and (max-width: 1280px){
    .container{
        grid-template-columns: 1fr 1fr;}}

@media only screen and (max-width: 768px){
    .container{
        grid-template-columns: 1fr;}}

.community{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--black-25);
    border-radius: var(--corner-radius);
    box-shadow: 0px 0px 0px 1px var(--border-white) inset;}
    .community-header{
        padding: 16px;}
        .community-header-title{
            display: flex;
            background-color: var(--black-50);
            padding: 16px;
            border-radius: var(--corner-radius);
            width: 100%;}
            .community-header-title-title{
                vertical-align: center;
                font-weight: var(--font-weight-heavy);
                text-align: center;}
            .community-header-title-badge{
                position: relative;
                content: '';
                background-image: url(/common/iconography/badges/Badge-Community.svg);
                background-size: 32px;
                width: 32px;
                height: 32px;}
        .community-header-logo{
            padding-top: 16px;}
            .community-header-logo-icon{
                height: 120px;
                width: 120px;
                background-color: var(--black-50);
                border-radius: var(--corner-radius);
                background-position: 50%;
                background-size: contain;
                background-image: url(/common/img/Connect.png);}
            .community-header-logo-banner{
                height: 120px;
                width: 100%;
                background-color: var(--black-50);
                border-radius: var(--corner-radius);
                background-position: 50%;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url(/common/img/Connect.png);}

    .community-main{
        padding-inline: 16px;}
        .community-main-description{
            height: 144px;
            overflow-y: hidden;
            background-color: var(--black-50);
            border-radius: var(--corner-radius);
            padding: 16px;}

    .community-footer{
        display: flex;
        justify-content: space-between;
        padding: 16px;
        border-radius: var(--corner-radius);}
        .community-footer-stats{
            display: flex;
            justify-content: space-between;
            width: 60%;
            background-color: var(--black-50);
            padding: 16px;
            border-radius: var(--corner-radius);}
        .community-footer-stats-members{
            display: flex;
            align-items: center;
            margin-right: auto;}
            .community-footer-stats-members-icon{
                position: relative;
                content: '';
                background-image: url(/common/iconography/badges/DG_CO_Members.svg);
                background-size: 24px;
                width: 24px;
                height: 24px;}

        .community-footer-stats-date{
            display: flex;
            align-items: center;
            margin-right: auto;
            margin-left: auto;}
            .community-footer-stats-date-icon{
                position: relative;
                display: flex;
                content: '';
                background-image: url(/common/iconography/badges/DG_CO_Time.svg);
                background-size: 24px;
                width: 24px;
                height: 24px;}
        .community-footer-join{
            position: relative;
            display: flex;
            padding: 12px 24px 12px 24px;
            align-items: center;
            background-color: var(--black-50);
            border-radius: var(--corner-radius);
            box-shadow: 0px 0px 0px 1px var(--border-white) inset;
            margin-left: 16px;
            font-weight: var(--font-weight-bold);
            text-decoration: none;
            z-index: 1;
            overflow: hidden;}
            .community-footer-join::before{
                opacity: 0;
                content:'';
                position: absolute;
                inset: 0;
                background: linear-gradient(120deg, var(--highlight-effect));
                border-radius: var(--corner-radius);
                transform: translateX(-100%);
                z-index: -1;}
            .community-footer-join.hover::before{
                opacity: 1;
                transform: translateX(100%);
                transition: transform 0.5s linear;}


    .tooltip-badge:hover::before{
        content:'This is a tooltip';
        position: absolute;
        top: calc(100% + var(--spacing-small));
        left: calc(0px - var(--spacing-small));
        background-color: var(--black);
        padding: var(--spacing-small);
        border-radius: var(--corner-radius);
        box-shadow: 0px 0px 0px 1px var(--border-white) inset;
        color: var(--blue);
        white-space: nowrap;}

    .tooltip-members:hover::before{
        content:'This is a tooltip';
        position: absolute;
        top: calc(0px - 100% - var(--spacing-regular));
        left: calc(0px - var(--spacing-small));
        background-color: var(--black);
        padding: var(--spacing-small);
        border-radius: var(--corner-radius);
        box-shadow: 0px 0px 0px 1px var(--border-white) inset;
        color: var(--blue);
        white-space: nowrap;}
        
    .tooltip-date:hover::before{
        content:'Jan 24';
        position: absolute;
        top: calc(0px - 100% - var(--spacing-regular));
        left: calc(0px - var(--spacing-small));
        background-color: var(--black);
        padding: var(--spacing-small);
        border-radius: var(--corner-radius);
        box-shadow: 0px 0px 0px 1px var(--border-white) inset;
        color: var(--blue);
        white-space: nowrap;}


/*SIZE DEFINTIONS*/
/*
TINY
SMALL
REGULAR
BIG
HUGE
*/

/*Colors with numbers in variables*/
:root {
    --white: #ECF2FD;
    --white-50: #ECF2FDBF;
    --white-25: #ECF2FD40;
    --white-10: #ECF2FD1A;
    --dark-white: #DAE6FB;
    --border-white: #ECF2FDBF;
    --plus-blue: #006FFF;
    --blue: #00469F;
    --dark-blue: #021026;
    --black-50: #020814BF;
    --black-25: #02081440;
    --black: #020814;

    --corner-radius: 8px;
    --corner-radius-small: 4px;

    --font-size-big: 24px;
    --font-size-regular: 16px;
    --font-size-small: 14px;
    --font-size-tiny: 12px;

    --spacing-regular: 16px;
    --spacing-small: 8px;
    --spacing-tiny: 4px;

    --font-weight-black: 900;
    --font-weight-heavy: 800;
    --font-weight-bold: 700;
    --font-weight-demi: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-weight-extralight: 200;
    --font-weight-thin: 100;

    --highlight-effect: transparent 25%, var(--white-10) 25%, var(--white-10) 41%, var(--white-25) 41%, var(--white-25) 50%, var(--white-25) 59%, var(--white-10) 59%, var(--white-10) 75%, transparent 75%;
}