* {
    box-sizing: border-box;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    color: var(--white);
    font-family: 'Source Sans Pro', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
}

main{
    background: radial-gradient(circle, var(--blue) 0%, var(--black) 100%);
}

.container{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    border-radius: var(--corner);
    font-size: 14px;
}

.community{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    background-color: var(--black-25);
    border-radius: var(--corner);
    box-shadow: 0px 0px 0px 1px var(--border-white) inset;
}
    .community-header{
        padding: 16px;
    }

    .community-header-title{
        display: flex;
        background-color: var(--black-50);
        padding: 16px;
        border-radius: var(--corner);
    }

    .community-header-title-badge{
        content: "";
        background-image: url(/common/iconography/badges/Badge-Community.svg);
        background-size: 32px;
        width: 32px;
        height: 32px;
    }

    .community-header-icon{
        height: 100%;
        display: flex;
        background-position: 50%;
        background-image: url(/common/img/Connect.png);
    }

.community-main{
    padding: 16px;
}
    .community-main-description{
        background-color: var(--black-50);
        border-radius: var(--corner);
        padding: 16px;
    }


.community-footer{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-radius: var(--corner);
}
    .community-footer-stats{
        background-color: var(--black-50);
        padding: 16px;
        border-radius: var(--corner);
    }
    .community-footer-join{
        background-color: var(--black-50);
        padding: 16px;
        border-radius: var(--corner);
        box-shadow: 0px 0px 0px 1px var(--border-white) inset;
    }
        .community-footer-join-link{
            
        }


:root {
    --white: #ECF2FD;
    --border-white: #ECF2FDBF;
    --plus-blue: #006FFF;
    --blue: #00469F;
    --dark-blue: #021026;
    --black-25: #02081440;
    --black-50: #020814BF;
    --black: #020814;

    --corner: 8px;
    --corner-small: 4px;
}